<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raghulsn.feedback_new">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".model.FeedbackApp"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen"     android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".MainActivity"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Contact"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan">
        </activity>

        <activity android:name=".Lastpage"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Rating"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Gender"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Settings"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Addquestion"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".ForgotPassword"  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".ResetPassword"  android:screenOrientation="landscape">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="abad4eda4c22d8a9c773d7521cd06c76a1fa617c" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>